<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-04T00:27:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/justinwood/Documents/Ghost Dev/ghost-arcade/ios/App/App.xcodeproj</string>
</dict>
</plist>
